@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  color: var(--Neutral_900);
  transition: 0.2s;
}

:root {
  --Neutral_900: hsl(227, 75%, 14%);
  --Neutral_800: hsl(226, 25%, 17%);
  --Neutral_700: hsl(225, 23%, 24%);
  --Neutral_600: hsl(226, 11%, 37%);
  --Neutral_300: hsl(0, 0%, 78%);
  --Neutral_200: hsl(217, 61%, 90%);
  --Neutral_100: hsl(0, 0%, 93%);
  --Neutral_0: hsl(200, 60%, 99%);

  --Red_400: hsl(3, 86%, 64%);
  --Red_500: hsl(3, 71%, 56%);
  --Red_700: hsl(3, 77%, 44%);


  --Light_Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --Dark_Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}